
    $background-main-color: #ffb8ca; // фон мороженого и hero
    $secondary-bg-color: #ffa5ba; // розовый круг и розовый текст
    $mob-menu-bg-color: #e17992; // фон мобильного меню
    $line-mob-menu-color: #e18298; // цвет линий в мобильном меню
    $section-bg-color: #fff5f6; // розовый фон секции
    $accent-color: #d41443; // акцент 
    $main-light-color: #ffffff; // белый 
    $main-text-color: #000000; // черный цвет
    $secondary-text-color: #907e82; // серый цвет текста
    $contacts-bg-color: #c2e297; // салатовый цвет
    $contacts-second-bg-color: #f0d1a5; // светло-коричневый цвет
    $customer-review-bg-color: #FAFAFA;; // светло-серый цвет
    $button-primary-hover: #c7133e; // цвет ховера красной кнопки в hero
    $button-contacts-hover: #d41342; // цвет  ховера our locations
    $button-secondary-hover: #ECEBEB; // вторичний цвет ховера кнопки (серый)
    $footer-svg-background-color: #fea5bb; // фон svg контактов в футере
    $footer-underlined-color: #e1e1e1; // цвет бордера в футере
    $duration-main: 250ms; //время для анимации текста
    $timing-function-main: cubic-bezier(0.4, 0, 0.2, 1); // самая частая функция времени для анимации