<section class="advantages-section" darkAdvBg>
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2> 
        <ul class="advantages-list">
        <li class="advantages-list__item">
            <span class="advantages-list__numer advantages-list__numer_pseudo_milk advantages-list__numer_mb">721</span>
            <p class="advantages-list__text" darkAdvTextFirst>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-list__item">
            <span class="advantages-list__numer advantages-list__numer_pseudo_apple advantages-list__numer_mb">721</span>
            <p class="advantages-list__text" darkAdvTextSecond>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-list__item">
            <span class="advantages-list__numer advantages-list__numer_pseudo_heart advantages-list__numer_mb">721</span>
            <p class="advantages-list__text" darkAdvTextThird>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
       </ul>
    </div>
    
</section>