<section class="custoner-review">
   <h2 class="contacts__title-hidden visually-hidden">Custoner Review</h2>
  <div class="container">
  <div class="slider-box">
    <div class="review">
      <div class="review__img-box">
        <img
          class="review__img"
          src="./images/customer-review/Zhenya.jpg"
          alt="customer"
        />
      </div>
      <div class="review__up-text-box" darkCustBgFirst>

        <div class="review__up-text-inside-box">
          <p class="review__up-text">
            <svg width="54" height="40" class="review__icon">
              <use href="./images/sprite.svg#quotes"></use>
            </svg>
           Обожаю здесь покупать мороженное "Малюк". Большое спасибо за сайт. Всегда использую темную тему.
          </p>
        </div>
      </div>

      <div class="review__circle-box">
        <div class="review__circle"></div>
        <div class="review__circle"></div>
        <div class="review__circle"></div>
      </div>

      <div class="review__sub-text-box">
        <p class="review__sub-text">Zhenya, Tokio</p>
      </div>
    </div>

    <div class="review">
      <div class="review__img-box">
        <img
          class="review__img"
          src="./images/customer-review/Bogdan.jpg"
          alt="customer"
        />
      </div>
      <div class="review__up-text-box" darkCustBgSecond>

        <div class="review__up-text-inside-box">
          <p class="review__up-text">
            <svg width="54" height="40" class="review__icon">
              <use href="./images/sprite.svg#quotes"></use>
            </svg>
            Зашли, посидели семьёй - понравилось разнообразие, каждый нашел себе что-то по вкусу. Для нас важно, что всё из натуральных ингридиентов)
          </p>
        </div>
      </div>

      <div class="review__circle-box">
        <div class="review__circle"></div>
        <div class="review__circle"></div>
        <div class="review__circle"></div>
      </div>

      <div class="review__sub-text-box">
        <p class="review__sub-text">Bogdan, Toronto</p>
      </div>
    </div>

 <div class="review">
      <div class="review__img-box">
        <img
          class="review__img"
          src="./images/customer-review/Dima-D.jpg"
          alt="customer"
        />
      </div>
      <div class="review__up-text-box" darkCustBgThird>

        <div class="review__up-text-inside-box">
          <p class="review__up-text">
            <svg width="54" height="40" class="review__icon">
              <use href="./images/sprite.svg#quotes"></use>
            </svg>
            После 30-ти жизнь только начинается)) Особенно в отношении мороженного!
          </p>
        </div>
      </div>

      <div class="review__circle-box">
        <div class="review__circle"></div>
        <div class="review__circle"></div>
        <div class="review__circle"></div>
      </div>

      <div class="review__sub-text-box">
        <p class="review__sub-text">Dima, Venice</p>
      </div>
    </div>

    <div class="review">
      <div class="review__img-box">
        <img
          class="review__img"
          src="./images/customer-review/Dima-K.jpg"
          alt="customer"
        />
      </div>
      <div class="review__up-text-box" darkCustBgThird>

        <div class="review__up-text-inside-box">
          <p class="review__up-text">
            <svg width="54" height="40" class="review__icon">
              <use href="./images/sprite.svg#quotes"></use>
            </svg>
           Понравились анимации и дарк тема. Сайт удобен в использовании, кнопки большие.
          </p>
        </div>
      </div>

      <div class="review__circle-box">
        <div class="review__circle"></div>
        <div class="review__circle"></div>
        <div class="review__circle"></div>
      </div>

      <div class="review__sub-text-box">
        <p class="review__sub-text">Dima, Dnipro</p>
      </div>
    </div>

    <div class="review">
      <div class="review__img-box">
        <img
          class="review__img"
          src="./images/customer-review/Nadya.jpg"
          alt="customer"
        />
      </div>
      <div class="review__up-text-box" darkCustBgThird>

        <div class="review__up-text-inside-box">
          <p class="review__up-text">
            <svg width="54" height="40" class="review__icon">
              <use href="./images/sprite.svg#quotes"></use>
            </svg>
            Сайт - волшебный💫
Я в восторге от этих приятных цветов🌈, крутых анимашек, доступности, функциональности страницы и в целом проделанной кропотливой работы💻
Пойду за 🍦
          </p>
        </div>
      </div>

      <div class="review__circle-box">
        <div class="review__circle"></div>
        <div class="review__circle"></div>
        <div class="review__circle"></div>
      </div>

      <div class="review__sub-text-box">
        <p class="review__sub-text">Nadya, Singapore</p>
      </div>
    </div>

      <div class="review">
      <div class="review__img-box">
        <img
          class="review__img"
          src="./images/customer-review/Vanya.jpg"
          alt="customer"
        />
      </div>
      <div class="review__up-text-box" darkCustBgThird>

        <div class="review__up-text-inside-box">
          <p class="review__up-text">
            <svg width="54" height="40" class="review__icon">
              <use href="./images/sprite.svg#quotes"></use>
            </svg>
           Мороженое лучшее, постоянно покупаю milkshakes, советую брать сразу два)
          </p>
        </div>
      </div>

      <div class="review__circle-box">
        <div class="review__circle"></div>
        <div class="review__circle"></div>
        <div class="review__circle"></div>
      </div>

      <div class="review__sub-text-box">
        <p class="review__sub-text">Vanya, St. Gallen</p>
      </div>
    </div>

  </div>
</div>
</section>