<footer class="footer" darkFooterBg>
  <div class="container">
    <div class="footer__box-flex">
      <div class="footer__text">
        <p class="section-title__up-text section-title__up-text_locate_footer footer__up-text">
          homemade ice cream made
        </p>
        <p class="wow bounceInLeft section-title section-title_locate_footer footer__title">
          with passion
        </p>
      </div>
      <div class="footer__box_locate_rigth">
        <ul class="social">
          <li class="social__item">
            <a href="https://github.com" class="social__link link">
              <svg class="social__icon">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="https://telegram.org" class="social__link link">
              <svg class="social__icon">
                <use href="./images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="https://www.facebook.com" class="social__link link">
              <svg class="social__icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer__contact">
          <p>
            Feel free to contact
            <a href="tel:+610383766284" class="footer__contact-link link"> +61 (0) 383 766 284 </a>
          </p>
        </div>
      </div>
    </div>
    <p class="footer__sub-text">2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
