<!-- header -->

<header id="home">
  <div class="container header-container">
    <a class="logo-link" href="./">
      <picture>
        <source
          srcset="./images/mobile/logo-2x-min.png 2x, ./images/mobile/logo-min.png 1x"
          media="(min-width: 320px)"
        />
        <img class="logo-img" src="./images/mobile/logo-min.png" alt="Логотип" />
      </picture>
    </a>

    <nav class="nav-menu">
      <ul class="nav-menu__list">
        <li class="nav-menu__item">
          <a class="nav-menu__link nav-menu__link_current" href="#">Home</a>
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link anchor" href="#about" darkHeroNavFirst>About us</a>
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link anchor" href="#about" darkHeroNavSecond>How it’s made?</a>
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link anchor" href="#products" darkHeroNavThird>Our products</a>
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link anchor" href="#contact" darkHeroNavFourth>Contact</a>
        </li>
      </ul>
    </nav>
    <button class="btn btn-mob" type="button" data-menu-button>
      <svg class="btn-mob__icon" width="20" height="12">
        <use href="./images/sprite.svg#burger"></use>
      </svg>
    </button>
    <button
      class="btn btn-buy btn_bgc_main-light-color"
      type="button"
      data-modal-open
      darkHeroButtonBuy
    >
      Buy now
      <span>
        <svg class="btn-buy__icon" width="7" height="11">
          <use href="./images/sprite.svg#button-arrow"></use>
        </svg>
      </span>
    </button>
  </div>
</header>

<!-- section-hero -->

<section class="section-hero" dark-theme>
  <div class="container hero-container">
    <div class="title-wrap">
      <h1 class="hero-title" darkHeroTitle>
        ice cream made with <span class="hero-title__passion">passion</span>
      </h1>
      <div class="infrastructure-wrap">
        <span class="infrastructure-info">16</span
        ><span class="infrastructure-info__bottom infrastructure-info__bottom_margin">cafes</span>
        <span class="infrastructure-info">23</span
        ><span class="infrastructure-info__bottom">food trucks</span>
      </div>
    </div>

    <ul class="hero-btns">
      <li class="hero-btns__item hero-btns__item_prod">
        <a href="#products" class="hero-btns__link hero-btns__link_prod anchor" darkButtonHero
          >Products</a
        >
      </li>
      <li class="hero-btns__item hero-btns__item_about" darkButtonHeroLight>
        <a href="#about" class="hero-btns__link hero-btns__link_about anchor">How it’s made?</a>
      </li>
    </ul>
    <div class="bg-circle wow bounceIn" darkThemeBgCircle></div>

    <div class="additional-info">
      <picture class="hero-img hero-img_left wow bounceInLeft" data-wow-delay="1s">
        <source
          srcset="
            ./images/desctop/hero-milk2x-desct-min.png 2x,
            ./images/desctop/hero-milk-desct-min.png   1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/hero-milk2x-tabl-min.png 2x,
            ./images/tablet/hero-milk-tabl-min.png   1x
          "
          media="(min-width: 768px)"
        />
        <img src="./images/tablet/hero-milk-tabl-min.png" alt="Прозрачный кувшин с молоком" />
      </picture>

      <div class="additional-info__wrap">
        <p class="additional-info__text">
          Our ice-cream will change your mood like this magic button <br />
          Oouuu touch this<br />
          <b> &#11015; &#11015; &#11015; tru-la-la</b> :)
          <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et -->
        </p>
        <button class="bgc-change btn btn-arrow btn_bgc_main-light-color" type="button" darkHeroSvg>
          <svg class="btn-arrow__icon" width="7" height="10" darkHeroSvgLight>
            <use href="./images/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <picture class="hero-img hero-img_right wow bounceInRight" data-wow-delay="1s">
          <source
            srcset="
              ./images/desctop/hero-girl2x-desktop-min.png 2x,
              ./images/desctop/hero-girl-desktop-min.png   1x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/tablet/hero-girl2x-tabl-min.png 2x,
              ./images/tablet/hero-girl-tabl-min.png   1x
            "
            media="(min-width: 768px)"
          />
          <img src="./images/tablet/hero-girl-tabl-min.png" alt="Девушка с мороженым" />
        </picture>
      </div>
    </div>
    <div class="hero-img-center">
      <picture class="hero-img animate__flip wow flip">
        <source
          srcset="
            ./images/desctop/hero-isecr2x-desct-min.png 2x,
            ./images/desctop/hero-isecr-desct-min.png   1x
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ./images/tablet/hero-isecr2x-tabl-min.png 2x,
            ./images/tablet/hero-isecr-tabl-min.png   1x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./images/mobile/hero-isecr-mob2x-min.png 2x,
            ./images/mobile/hero-isecr-mob-min.png   1x
          "
          media="(max-width: 480px)"
        />

        <img src="./images/mobile/hero-isecr-mob2x-min.png" alt="Разноцветное мороженое в рожке" />
      </picture>
    </div>
  </div>
</section>

<a class="up-btn-link anchor" href="#home">
  <svg class="up-btn-link__icon" width="20" height="32">
    <use href="./images/sprite.svg#button-arrow"></use>
  </svg>
</a>

<button class="dark-btn-mode" id="dark">
  <svg class="dark-btn-mode__icon">
    <use href="/images/sprite.svg#icon-sun"></use>
  </svg>
</button>
