<div class="mob-menu" data-menu>
  <div class="mob-menu-bg"></div>
  <div class="mob-container">
    <button class="mob-menu__btn-close" data-menu-close>
      <svg class="modal-close-icon" width="17" height="17">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <button
      class="btn mob-menu__btn-buy btn_bgc_main-light-color"
      type="button"
      data-modal-open
      data-buy-close
    >
      Buy now
      <span>
        <svg class="btn-buy__icon" width="7" height="10">
          <use href="./images/sprite.svg#button-arrow"></use>
        </svg>
      </span>
    </button>
    <ul class="mob-menu-list" data-anchor-close>
      <li class="mob-menu-list__item">
        <a href="#" class="mob-menu-list__link nav-menu__link_current">Home</a>
      </li>
      <li class="mob-menu-list__item">
        <a href="#about" class="mob-menu-list__link anchor">About us</a>
      </li>
      <li class="mob-menu-list__item">
        <a href="#about" class="mob-menu-list__link anchor">How it’s made?</a>
      </li>
      <li class="mob-menu-list__item">
        <a href="#products" class="mob-menu-list__link anchor">Our products</a>
      </li>
      <li class="mob-menu-list__item">
        <a href="#contact" class="mob-menu-list__link anchor">Contact</a>
      </li>
    </ul>
  </div>
</div>
