<section class="product-section" darkThemeBgProduct>
  <div class="container container-products">
    <p id="products" class="section-title__up-text .section-title__up-text_position">
      100% natural
    </p>
    <h2 class="wow bounceInUp section-title section-title_position">products</h2>
    <div class="products-list_position">
      <ul class="products-list">
        <li class="products-list__item">
          <div class="products-image_position">
            <picture class="wow swing products-image">
              <source srcset="
                  ./images/mobile/prod-pic1-mob-min.png   1x,
                  ./images/mobile/prod-pic1-mob2x-min.png 2x
                " />
              <img class="products-img" src="./images/mobile/prod-pic1-mob-min.png"
                alt="pink ice cream with strawberries" />
            </picture>
          </div>
          <div class="products-list__box products-list__box_cream-color">
            <h3 class="products-list__title" darkProductTitleFirst>ice cream</h3>
            <div class="products-list__circle-box">
              <div class="products-list__circle" darkProductCircleFirstFirst></div>
              <div class="products-list__circle" darkProductCircleFirstSecond></div>
              <div class="products-list__circle" darkProductCircleFirstThird></div>
            </div>
            <div class="products-list__text_position">
              <p class="products-list__text" darkProductTextFirst>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et<span class="phone-text">. dolore magna aliqua facilisis.</span>
              </p>
              <p class="products-list__list-activ" darkProductTextActiveFirst>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, assumenda?
              </p>
            </div>
            <div class="position-btn-content">
              <button class="btn products-list__btn" type="button" darkProductButtonFirst>
                <svg class="svg-products_color-position" height="12" width="12" darkProductSvgThird>
                  <use href="./images/sprite.svg#arrow-right"></use>
                </svg>
              </button>
              <p class="products-list__list-activ" darkProductTextActiveSecond>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, assumenda?
              </p>
            </div>
          </div>
        </li>
        <li class="products-list__item">
          <div class="products-image_position">
            <picture class="wow swing products-image">
              <source srcset="
                  ./images/mobile/prod-pic2-mob-min.png   1x,
                  ./images/mobile/prod-pic2-mob2x-min.png 2x
                " />
              <img class="products-img" src="./images/mobile/prod-pic2-mob-min.png"
                alt="glass of ice coffee with a straw" />
            </picture>
          </div>
          <div class="products-list__box products-list__box_coffee-color">
            <h3 class="products-list__title" darkProductTitleSecond>ice coffee</h3>
            <div class="products-list__circle-box">
              <div class="products-list__circle" darkProductCircleSecondFirst></div>
              <div class="products-list__circle" darkProductCircleSecondSecond></div>
              <div class="products-list__circle" darkProductCircleSecondThird></div>
            </div>
            <div class="products-list__text_position">
              <p class="products-list__text" darkProductTextSecond>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et<span class="phone-text">. dolore magna aliqua facilisis.</span>
              </p>
            </div>

            <div class="position-btn-content">
              <button class="btn products-list__btn" type="button" darkProductButtonSecond>
                <svg class="svg-products_color-position" height="12" width="12" darkProductSvgSecond>
                  <use href="./images/sprite.svg#arrow-right"></use>
                </svg>
              </button>
              <p class="products-list__list-activ" darkProductTextActiveThird>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, assumenda?
              </p>
            </div>
          </div>
        </li>
        <li class="products-list__item">
          <div class="products-image_position">
            <picture class="wow swing products-image">
              <source srcset="
                  ./images/mobile/prod-pic3-mob-min.png   1x,
                  ./images/mobile/prod-pic3-mob2x-min.png 2x
                " />
              <img class="products-img" src="./images/mobile/prod-pic3-mob-min.png" alt="milkshake with chocolate" />
            </picture>
          </div>
          <div class="products-list__box products-list__box_milkshakes-color">
            <h3 class="products-list__title" darkProductTitleThird>milkshakes</h3>
            <div class="products-list__circle-box">
              <div class="products-list__circle" darkProductCircleThirdFirst></div>
              <div class="products-list__circle" darkProductCircleThirdtSecond></div>
              <div class="products-list__circle" darkProductCircleThirdThird></div>
            </div>
            <div class="products-list__text_position">
              <p class="products-list__text" darkProductTextThird>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et<span class="phone-text">. dolore magna aliqua facilisis.</span>
              </p>
            </div>

            <div class="position-btn-content">
              <button class="btn products-list__btn" type="button" darkProductButtonThird>
                <svg class="svg-products_color-position" height="12" width="12" darkProductSvgFirst>
                  <use href="./images/sprite.svg#arrow-right"></use>
                </svg>
              </button>

              <p class="products-list__list-activ" darkProductTextActiveFourth>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, assumenda?
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>