.gallery {
  background: linear-gradient($section-bg-color 40%, $main-light-color 40%);
}
.gallery-desctop {
  display: flex;
  align-items: center;

  &__pic {
    transition: 500ms;
    margin-top: 3%;
  }
  &__pic:hover {
    transform: scale(1.6);
    z-index: 3;
    @include for-tablet {
      transform: scale(1.6);
    }
  }
  &__pic_left {
    margin-right: 5px;
  }
  &__pic_width {
    width: 50%;
  }
  &__pic-one_up {
    padding-bottom: 4%;
  }
}
.gallery-desctop__box {
  display: flex;
  flex-direction: column;
  margin-right: 0.4%;
  &_down {
    padding-top: 5%;
  }
  &_up {
    padding-bottom: 4%;
  }
}
