.header-container {
  position: absolute;
  z-index: 1;
  top: 31px;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include for-tablet {
    justify-content: center;
    top: 62px;
  }
}
