.up-btn-link {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform;
  transition-timing-function: $timing-function-main;
  transition-duration: $duration-main;

  width: 60px;
  height: 60px;

  position: fixed;
  z-index: 5;
  top: 87%;
  right: 5%;

  border: 5px solid rgba(248, 166, 187, 0.3);
  border-radius: 50%;
  background-color: rgba(212, 20, 67, 0.1);

  &:hover {
    transform: scale(1.1);
  }

  &__icon {
    transform: rotate(-90deg);
    stroke: rgba(212, 20, 67, 0.8);
  }
}
