.section-hero {
  background-color: $background-main-color;
  // background-color: var(--dark-bg-color);
  overflow: hidden;
}

.hero-container {
  position: relative;
  z-index: 0;
  padding-top: 193px;
  padding-bottom: 160px;

  @include for-tablet {
    padding-top: 102px;
    padding-bottom: 34px;
  }

  @include for-desktop {
    padding-top: 171px;
    padding-bottom: 56px;
  }
}

.bg-circle {
  position: absolute;
  z-index: -1;
  top: 83px;
  right: -55px;
  width: 346px;
  height: 346px;
  border-radius: 50%;
  background-color: $secondary-bg-color;

  @include for-tablet {
    top: 31px;
    right: 113px;
    width: 324px;
    height: 324px;
  }

  @include for-desktop {
    top: 52px;
    right: 167px;
    width: 538px;
    height: 538px;
  }
}

.hero-img-center {
  width: 171px;
  height: 410px;
  position: absolute;
  z-index: -1;
  right: 32px;
  bottom: 0;

  @include for-tablet {
    right: 223px;
    width: 143px;
    height: 336px;
  }

  @include for-desktop {
    right: 350px;
    width: 236px;
    height: 557px;
  }
}

.additional-info {
  display: none;
}

.additional-info {
  @include for-tablet {
    display: flex;

    &__wrap {
      margin-top: 65px;
      margin-left: 120px;
      width: 114px;
    }

    &__text {
      margin-bottom: 7px;
      font-size: 8px;
      line-height: 1.5;
      color: $main-light-color;
    }
  }

  @include for-desktop {
    &__wrap {
      margin-top: 112px;
      margin-left: 195px;
      width: 200px;
    }

    &__text {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.4;
    }
  }
}

.hero-img {
  position: absolute;

  &_right {
    bottom: 0;
    right: 15px;
  }

  &_left {
    bottom: 45px;
    left: 15px;
  }
}

.btn-arrow {
  width: 18px;
  height: 18px;

  &__icon {
    fill: $accent-color;
  }

  @include for-desktop {
    width: 26px;
    height: 26px;

    &__icon {
      width: 12px;
      height: 8px;
    }
  }
}
